body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.songs-container {
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px); /* Ajusta este valor según la altura de tu nav */
  overflow: hidden;
}

.add-song-card {
  background: #000000;
  border: 1px solid #ffd700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-song-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.add-song-icon {
  width: 50px;
  height: 50px;
}

.cards-pagination-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Permitir desplazamiento solo en este contenedor */
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.cards-pagination-container::-webkit-scrollbar {
  display: none; /* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
}

.cards-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #ffd700;
  border-top: 1px solid #ffd700;
  flex-shrink: 0; /* Asegúrate de que no se reduzca su tamaño */
}

.pagination-controls button {
  background-color: #000000;
  color: #ffd700;
  border: 1px solid #ffd700;
  border-radius: 4px;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 1.2em;
  margin: 0 5px;
}

.pagination-controls button:disabled {
  background-color: #000000;
  color: #ccc;
  cursor: not-allowed;
}

.pagination-controls button:hover {
  background-color: #000000;
  border-color: #ffd700;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente oscuro */
}

.modal-content {
  background-color: #010000; /* Fondo oscuro para la modal */
  padding: 20px;
  border: none; /* Eliminamos el borde */
  border-radius: 8px; /* Bordes redondeados */
  width: 80%;
  max-width: 600px; /* Ancho máximo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para un efecto de profundidad */
  position: relative;
  backdrop-filter: blur(10px); /* Efecto de desenfoque en el fondo */
}

.close {
  color: #fff; /* Color del texto del botón de cerrar */
  font-size: 24px; /* Tamaño del texto */
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #ffd700; /* Color dorado en hover o focus */
}

.cancel-button {
  background-color: #ccc; /* Color gris */
  color: #000; /* Letras negras */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 20px; /* Relleno */
  cursor: pointer; /* Puntero */
  font-size: 1em; /* Tamaño de fuente */
  margin-top: 10px; /* Espacio superior */
  width: 100%; /* Ancho completo */
  text-align: center; /* Centrar texto */
}

.cancel-button:hover {
  background-color: #bbb; /* Color gris más oscuro en hover */
}
