.artist-card {
    background: #000000;
    border: 1px solid #ffd700;
    border-radius: 8px;
    overflow: hidden;
    width: 200px; /* Tamaño uniforme */
    height: 280px; /* Ajusta la altura según sea necesario */
    color: #fff;
    margin: 10px; /* Espacio entre tarjetas */
    display: flex;
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición para efecto de hover */
}

.artist-card:hover {
    transform: scale(1.05); /* Escala ligeramente la tarjeta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */
}

.artist-card-image {
    width: 100%;
    height: 150px; /* Ajuste para el tamaño de la imagen */
    object-fit: cover;
    transition: opacity 0.3s ease; /* Transición para opacidad */
}

.artist-card:hover .artist-card-image {
    opacity: 0.8; /* Reduce la opacidad de la imagen */
}

.artist-card-info {
    padding: 10px;
    flex: 1; /* Permite que la sección de info se expanda para llenar el espacio restante */
    display: flex;
    flex-direction: column; /* Apila el contenido verticalmente */
    justify-content: space-between; /* Asegura que los elementos se distribuyan uniformemente */
}

.artist-card-name {
    font-size: 1.2em; /* Tamaño de fuente ajustado */
    margin: 0;
    color: #ffd700;
}

.artist-card-bio {
    font-size: 0.9em; 
    margin: 5px 0;
}

.artist-card-website {
    color: #ffd700;
    text-decoration: none;
    margin-top: 10px;
}

.artist-card-website:hover {
    text-decoration: underline;
}
