.nav-items{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.item-link-nav{
    width: auto;
    padding: 0 10px;
    height: 80px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.item-link-nav:hover{
    height: 80px;
    cursor: pointer;
    background-color: #222121;
}